extends /layout/page

block title
    title Альфа - Медика

block variables
    - var page = 'login'

block content
    .container-fluid
        .row 
            .col-lg-6.login__left-side 
                .become-a-member(data-bs-toggle="modal" data-bs-target="#modal-reg")
                    span Стать участником клуба 
                    strong Alpha-medica
            .col-lg-6.login__right-side 
                a(href="/").logo 
                    <svg xmlns="http://www.w3.org/2000/svg" width="141" height="28" fill="none" viewBox="0 0 141 28">
                        <path fill="#E6005B" d="M116.456.188c-2.265.342-4.529 1.899-5.48 3.78-1.262 2.463-.951 7.544.708 11.478 1.868 4.464 6.121 8.775 11.688 11.854l1.141.633.95-.496c1.487-.787 4.392-2.771 5.948-4.089 2.593-2.206 5.013-5.44 6.103-8.176 1.002-2.514 1.469-3.643 1.486-6.962.018-2.993-.276-3.027-.726-3.968-.536-1.146-1.659-2.395-2.645-2.96-3.267-1.898-7.797-1.47-10.217.959l-.83.82-.882-.82c-.484-.462-1.193-.993-1.573-1.18-1.591-.805-3.856-1.164-5.671-.873Zm10.442 8.022v2.566h5.187v4.447h-5.187v5.132h-4.667v-5.132h-5.187v-4.447h5.187V5.644h4.667V8.21Z"/>
                        <path fill="#514E9C" d="M2.282.462 0 .53l.035 13.462.051 13.462h7.348c6.639 0 7.469-.034 8.523-.325 3.475-.94 5.48-3.797 5.48-7.783 0-1.573-.397-2.942-1.123-3.883-.467-.598-1.954-1.847-2.369-2.001-.138-.034.07-.376.588-.924.968-1.043 1.418-1.881 1.695-3.181.501-2.463-.778-5.833-2.801-7.373C16.06.975 14.955.633 12.447.496 10.184.36 7.055.36 2.283.462ZM13.14 5.73c1.902 1.095 1.798 4.362-.173 5.337-.708.36-.985.394-3.924.394H5.878V5.269l3.337.05c2.956.07 3.388.104 3.924.411Zm1.159 10.965c1.556 1.146 1.832 3.267.622 4.704-.795.924-1.21 1.009-5.325 1.009H5.878v-6.175l3.96.051c3.716.052 3.993.069 4.46.41ZM25.674.804c.069.171 2.264 6.26 4.892 13.53l4.755 13.223 1.746-.052 1.746-.051 2.507-6.962c1.383-3.831 2.558-7.013 2.61-7.064.052-.052 1.176 2.89 2.507 6.534 1.331 3.678 2.559 6.808 2.766 7.047.346.41.484.428 1.902.445h1.521l.485-1.283C54.7 21.861 62.239.787 62.239.651c0-.086-1.314-.12-2.956-.104L56.325.6l-2.783 8.33c-1.539 4.601-2.836 8.347-2.887 8.347-.07 0-1.28-3.404-2.697-7.56C46.54 5.559 45.26 2 45.105 1.813c-.225-.273-.502-.342-1.28-.359h-1.002l-2.715 7.92c-1.504 4.345-2.748 7.954-2.8 7.988-.035.034-1.193-3.284-2.559-7.39-2.144-6.363-2.593-7.543-3.095-8.125-.95-1.094-1.66-1.334-4.063-1.334-1.884 0-2.04.017-1.918.291Zm58.693 11.683c0 12.932-.034 12.504.934 13.633.64.735 1.712 1.214 3.095 1.351l1.158.12V.513h-5.187v11.974Zm10.375-.291c0 13.086-.017 12.88 1.158 14.01.951.889 1.626 1.163 2.957 1.214l1.158.034.052-13.479.035-13.462h-5.36v11.683ZM68.567 6.773c-3.578.855-6.275 3.575-7.278 7.338-.363 1.352-.38 4.294-.017 5.645 1.037 3.849 4.097 6.722 8.056 7.543 1.763.377 4.65.24 6.31-.273 1.902-.599 4.409-1.95 4.409-2.378 0-.325-1.314-2.463-1.608-2.617-.57-.29-1.245-.188-2.386.342-3.751 1.762-7.676.838-9.232-2.19-.224-.461-.466-1.145-.536-1.522l-.12-.701h14.038l.12-.958c.156-1.334-.051-3.181-.553-4.653-1.002-2.959-2.973-4.823-5.895-5.576-1.297-.342-3.907-.342-5.308 0Zm4.841 4.088c.916.565 1.695 1.83 1.867 3.028l.087.65h-4.495c-5.187 0-4.928.12-3.925-1.762.934-1.728 2.369-2.531 4.392-2.463 1.02.034 1.365.12 2.074.547ZM24.81 22.818c-.71.308-1.435 1.18-1.574 1.882-.138.735.415 2.018 1.055 2.429.709.461 1.97.496 2.645.085 1.694-1.06 1.642-3.37-.138-4.26-.865-.427-1.245-.461-1.988-.136Z"/>
                    </svg> 
                .login-form 
                    .title Войдите в аккаунт
                    .subtitle с вашим номером телефона    
                    form.row.needs-validation(novalidate).mt-30
                        .col-12.mb-12.mb-lg-24
                            label(for="login" class="form-label") Номер телефона*
                            input( placeholder="" type="phone" required id="login").form-control.mask-phone
                            .invalid-feedback Введите номер телефона
                        .col-12.mb-24
                            label(for="password" class="form-label") Пароль*
                            input(type="password" placeholder="" required id="password" data-toggle="password").form-control
                            .invalid-feedback Введите пароль
                        .col-sm-12.mb-24
                            .form-check
                                input( type="checkbox" required value="" id="remember-pass" ).form-check-input
                                label(for="remember-pass").form-check-label Запомнить пароль
                        .col-12.mb-12.mb-24
                            button.btn.btn-red.w-100.px-0(type="submit")  Войти 
                        .col-12
                            a(data-bs-toggle="modal" data-bs-target="#modal-recovery" ).recovery-link.text-center.w-100 Забыли пароль? 