extends /layout/page

block title
    title Мои тесты

block variables
    - var page = 'my-tests'
block content
    .container
        .row
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li(aria-current="page").breadcrumb-item.active Мои тесты
        .row.wrapper
            .col-12
                h2 Мои тесты
                .row 
                    .col-12.mt-20
                        .table-wrapper
                            table#my-test
                                thead 
                                    tr
                                        th Дата
                                        th Название
                                        th баллы
                                tbody 
                                    tr
                                        td 14.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 15.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 16.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 17.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 18.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                    tr
                                        td 19.12.2025        (11:55)
                                        td 
                                            a(href="test.html") Правила измерения запястными тонометрами_2025
                                        td 100
                                