extends /layout/page

block title
    title Обучение

block variables
    - var page = 'scorm'
block content
    .container
        .row
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li(aria-current="page").breadcrumb-item.active Обучение
        .row.wrapper
            .col-12
                h2 Обучение
                .row 
                    .col-sm-12.col-lg-6.mt-10.mt-lg-20
                        a(href="" target="_blank").scorm-item(style="background-image: url(../img/bg/qr.svg)")
                            .scorm-item__title Цикл вебинаров по продажам: выгодное предложение
                            table.scorm-item__table
                                tr 
                                    th Дата:
                                    td 28.03.2025
                                tr 
                                    th Время: 
                                    td 10.00 - 10.30 по МСК
                                tr 
                                    th Код:
                                    td 514-887-218
                            button.btn-sm.btn-blue.mt-24 Перейти
                    .col-sm-12.col-lg-6.mt-10.mt-lg-20
                        a(href="" target="_blank").scorm-item(style="background-image: url(../img/bg/qr.svg)")
                            .scorm-item__title Цикл вебинаров по продажам: выгодное предложение
                            table.scorm-item__table
                                tr 
                                    th Дата:
                                    td 28.03.2025
                                tr 
                                    th Время: 
                                    td 10.00 - 10.30 по МСК
                                tr 
                                    th Код:
                                    td 514-887-218
                            button.btn-sm.btn-blue.mt-24 Перейти
                    .col-sm-12.col-lg-6.mt-10.mt-lg-20
                        a(href="" target="_blank").scorm-item(style="background-image: url(../img/bg/qr.svg)")
                            .scorm-item__title Цикл вебинаров по продажам: выгодное предложение
                            table.scorm-item__table
                                tr 
                                    th Дата:
                                    td 28.03.2025
                                tr 
                                    th Время: 
                                    td 10.00 - 10.30 по МСК
                                tr 
                                    th Код:
                                    td 514-887-218
                            button.btn-sm.btn-blue.mt-24 Перейти
                    .col-sm-12.col-lg-6.mt-10.mt-lg-20
                        a(href="" target="_blank").scorm-item(style="background-image: url(../img/bg/qr.svg)")
                            .scorm-item__title Цикл вебинаров по продажам: выгодное предложение
                            table.scorm-item__table
                                tr 
                                    th Дата:
                                    td 28.03.2025
                                tr 
                                    th Время: 
                                    td 10.00 - 10.30 по МСК
                                tr 
                                    th Код:
                                    td 514-887-218
                            button.btn-sm.btn-blue.mt-24 Перейти