extends /layout/page

block title
    title Тесты

block variables
    - var page = 'tests'
block content
    .container
        .row
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li(aria-current="page").breadcrumb-item.active Тесты
        .row.wrapper
            .col-12
                h2 Новые
                .row
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025
            .col-12.mt-60    
                h2 Все тесты
                .row
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank"  style="background-image: url(../img/bg/test.jpg)").test-item 
                            .test-item__mask
                            .test-item__title Правила измерения запястными тонометрами_2025
           

