extends /layout/page

block title
    title Знакомство с продукцией

block variables
    - var page = 'tests'
block content
    .container
        .row
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li(aria-current="page").breadcrumb-item.active Знакомство с продукцией
        .row.wrapper
            .col-12
                h2 Тонометры
                .row 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
        .row.wrapper
            .col-12
                h2 Ингаляторы
                .row 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
        .row.wrapper
            .col-12
                h2 Ирригаторы
                .row 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
        .row.wrapper
            .col-12
                h2 Термометры
                .row 
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
                    .col-sm-6.col-md-4.mt-10.mt-sm-20
                        a(href="" target="_blank").welcome-item Тонометры швейцарского бренда B.Well
